.navbar {
  // &-brand {
  //   color: var(--navbar-brand-color);

  //   &:hover,
  //   &:focus {
  //     color: var(--navbar-brand-color);
  //   }
  // }

  // &-nav .nav-link.active,
  // &-nav .show > .nav-link {
  //   color: var(--navbar-active-color);
  // }

  $navbar-light-color: if(variable-exists(emphasis-color), $emphasis-color, $navbar-light-color);
  $navbar-dark-color: if(variable-exists(emphasis-color-dark), $emphasis-color-dark, $navbar-dark-color);

  @debug($navbar-dark-color);

  $navbar-light-color-tinted: cssf-mix(white, $navbar-light-color, 0.5);
  $r: cssf-red($navbar-light-color-tinted);
  $g: cssf-green($navbar-light-color-tinted);
  $b: cssf-blue($navbar-light-color-tinted);
  --nav-link-color-r: #{$r};
  --nav-link-color-g: #{$g};
  --nav-link-color-b: #{$b};

  [data-bs-theme="dark"] & {
    --navbar-brand-color: #{$navbar-dark-color};
    --navbar-active-color: #{$navbar-dark-color};
    $navbar-dark-color-shaded: cssf-mix(black, $navbar-dark-color, 0.5);
    $r: cssf-red($navbar-dark-color-shaded);
    $g: cssf-green($navbar-dark-color-shaded);
    $b: cssf-blue($navbar-dark-color-shaded);
    $r: cssf-red($navbar-dark-color);
    $g: cssf-green($navbar-dark-color);
    $b: cssf-blue($navbar-dark-color);
    --nav-link-color-r: #{$r};
    --nav-link-color-g: #{$g};
    --nav-link-color-b: #{$b};
  }

  // @each $name, $value in (
  //   light: $navbar-light-color,
  //   dark: $navbar-dark-color
  //  ) {
  //   &-#{$name} {
  //     $r: cssf-red($value);
  //     $g: cssf-green($value);
  //     $b: cssf-blue($value);
  //     --nav-link-color-r: #{$r};
  //     --nav-link-color-g: #{$g};
  //     --nav-link-color-b: #{$b};
  //     --navbar-brand-color: rgb(#{$r}, #{$g}, #{$b});
  //     --navbar-active-color: rgb(#{$r}, #{$g}, #{$b});
  //     // --bs-nav-link-color: #{$value};
  //     --bs-navbar-color: #{$shifted};
  //     --bs-navbar-hover-color: #{$hover};
  //     --bs-navbar-active-color: #{$navbar-light-color};
  //     --bs-navbar-brand-color: #{$navbar-light-color};
  //     --bs-navbar-brand-hover-color: #{$navbar-light-color};
  //     --bs-navbar-toggler-border-color: #{$navbar-light-color};
  //   }
  // }

  @each $name, $value in $theme-colors {
    &-auto.bg-#{$name} {
      $color: cssf-rgba(var(--#{$name}-r), var(--#{$name}-g), var(--#{$name}-b));
      $contrast: cssf-contrast-color($color);
      $shifted: cssf-mix($contrast, $color, 0.75);
      $hover: bscssf-shift-color(
        $shifted,
        var(--link-shade-percentage, #{$link-shade-percentage / 100%})
      );
      --bs-navbar-color: #{$shifted};
      --bs-navbar-hover-color: #{$hover};
      --bs-navbar-active-color: #{$contrast};
      --bs-navbar-brand-color: #{$contrast};
      --bs-navbar-brand-hover-color: #{$contrast};
      --bs-navbar-toggler-border-color: #{$contrast};
    }
  }

  &:not([class*="bg-"]) {
    $color: cssf-rgba(var(--bs-navbar-bg-r), var(--bs-navbar-bg-g), var(--bs-navbar-bg-b), 1);
    $color-rgba: cssf-rgba(var(--bs-navbar-bg-r), var(--bs-navbar-bg-g), var(--bs-navbar-bg-b), var(--bs-navbar-bg-a, 1));
    background-color: $color-rgba;
    $contrast: cssf-contrast-color($color);
    $shifted: cssf-mix($contrast, $color, 0.75);
    $hover: bscssf-shift-color(
      $shifted,
      var(--link-shade-percentage, #{$link-shade-percentage / 100%})
    );
    --bs-navbar-color: #{$shifted};
    --bs-navbar-hover-color: #{$hover};
    --bs-navbar-active-color: #{$contrast};
    --bs-navbar-brand-color: #{$contrast};
    --bs-navbar-brand-hover-color: #{$contrast};
    --bs-navbar-toggler-border-color: #{$contrast};
  }
}
