@each $name, $value in $theme-colors {
  $value: cssf-rgba(var(--#{$name}-r), var(--#{$name}-g), var(--#{$name}-b));

  .bg-#{$name} {
    background: $value !important;
  }

  .text-#{$name} {
    color: $value !important;
  }

  .bg-#{$name}.text-auto {
    color: cssf-contrast-color($value) !important;
  }
}
