// @each $suffix in ('', '-top', '-right', '-bottom', '-left') {
//   .border#{$suffix} {
//     border#{$suffix}-color: cssf-rgba(
//       var(--border-color-r, #{cssf-red($border-color)}),
//       var(--border-color-g, #{cssf-green($border-color)}),
//       var(--border-color-b, #{cssf-blue($border-color)})
//     ) !important;
//   }
// }

@each $name, $value in map-merge(
  $theme-colors,
  (
    'white': #fff
  )
) {
  $value: cssf-rgba(
    var(--#{$name}-r, #{cssf-red($value)}),
    var(--#{$name}-g, #{cssf-green($value)}),
    var(--#{$name}-b, #{cssf-blue($value)}),
  );

  .border-#{$name} {
    border-color: $value !important;
  }

  .bg-#{$name} {
    // --bs-body-bg: #{$value};
    // background: var(--bs-body-bg) !important;
    background-color: #{cssf-rgba($value)} !important;
  }

  .text-#{$name} {
    // --bs-body-color: #{$value};
    // color: var(--bs-body-color) !important;
    color: #{cssf-rgba($value)} !important;
  }

  .bg-#{$name}.text-auto {
    $contrast: cssf-contrast-color($value);
    // --bs-body-color: #{$contrast};
    // color: var(--bs-body-color) !important;
    color: #{cssf-rgba($contrast)} !important;
  }
}
