@each $name, $value in map-merge(
  $theme-colors,
  (
    'white': #fff
  )
) {
  $value: cssf-rgba(
    var(--#{$name}-r, #{cssf-red($value)}),
    var(--#{$name}-g, #{cssf-green($value)}),
    var(--#{$name}-b, #{cssf-blue($value)}),
  );

  .border-#{$name} {
    border-color: $value !important;
  }

  .bg-#{$name} {
    background: $value !important;
  }

  .text-#{$name} {
    color: $value !important;
  }

  .bg-#{$name}.text-auto {
    color: cssf-contrast-color($value) !important;
  }
}
